<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My site</h1>
    <a href="{% url 'home' %}">Home</a> /
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log out</a>
    <strong>You are logged in as {{user.username}}</strong>
    {% else %}
        <a href="{% url 'usuarioCreate' %}">Sign up</a> /
        <a href="{% url 'login' %}">Log in</a> /
    {% endif %}
    <hr>
    {% block content %}
        <h2>Signup</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type=""submit>Sign up</button>
        </form>
    {% endblock %}
</body>
</html>