<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>My site</h1>
    <a href="{% url 'home' %}">Home</a> /
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log out</a>
    <strong>You are logged in as {{user.username}}</strong>
    {% else %}
        <a href="{% url 'usuarioCreate' %}">Sign up</a> /
        <a href="{% url 'login' %}">Log in</a> /
    {% endif %}

    <hr>
    {% block content %}
        <h2>Homepage</h2>
        <p>Welcome to My Site, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
    <p>
        <strong>Tota users registered: </strong> {{ count }}
    </p>
    {% endblock %}
</body>
</html>