<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="header">
        <a class="header" href="{% url 'usuarioCreate' %}">Novo usuário</a>
    </div>
    <ul>
        {% for usuario in usuarios %}
            <div class="painel">
                <a href="{% url 'usuarioUpdate' usuario.pk %}">Nome : {{ usuario.first_name }}<br/>Matrícula : {{ usuario.matricula }}<br/>CPF : {{ usuario.cpf }}<br/></a>
                    <div class="escolha">
                        <a class="button_edit" href="{% url 'usuarioUpdate' usuario.pk %}"><br/>Editar</a>
                        <a class="button_delet" href="{% url 'usuarioDelete' usuario.pk %}"><br/>Deletar</a>
                    </div>
            </div>
        {% endfor %}
    </ul>
</body>
<style>
    div.header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #575757;
    }
    a.header {
        align-content: center;
        justify-content: flex-end
        border-radius: 5px;
        border-style: groove;
    }
    body {
        background-color: #363636;
        margin: 0px;
        padding: 0px;
    }

    ul {
        list-style: none;
        padding: 20px;
        padding-top: 0px;
    }

    div.painel {
        width: 25%;
        margin: 15px 0px 0px 0px;
        border-radius: 5px;
        border-style: groove;
        padding: 10px;
    }

    div.escolha {
        display: flex;
        flex-direction: row;
    }

    a.button_edit{
        border-radius: 10px;
        background-color: #028ee1;
        width: 40%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    a.button_delet{
        border-radius: 10px;
        background-color: #ef5350;
        color: white;
        width: 40%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    a {
        text-decoration: none;
        color: #fafafa;
    }

    h4 {
        font-family: Consolas;
        color: #fafafa;
    }

</style>
</html>