<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h1>My site</h1>
            <a href="{% url 'home' %}">Home</a> /
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log out</a>
        <strong>You are logged in as {{user.username}}</strong>
    {% else %}
        <a href="{% url 'usuarioCreate' %}">Sign up</a> /
        <a href="{% url 'login' %}">Log in</a> /
    {% endif %}
        <hr>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
</body>
</html>